<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <title>File Uploads</title>
</head>

<body>
    <div class="container">
        <h1>File Upload Back End view</h1>
        <%= typeof msg != 'undefined' ? msg : '' %>
        <form action="/upload/jsonfile" method="POST" enctype="multipart/form-data">
            <div class="file-field input-field">
                <div class="btn grey">
                    <span>File</span>

                    <!-- <input name="img" type="file"> -->
                    <input name="tb" type="file">

                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
        <br>
        <!--  <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img"> -->

        <!--    /uploads/images/myImage-1558387617594.png -->
        <!-- http://localhost:3001/upload/uploads/imagesimg-1558387881119.png -->

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>