<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <title>File Uploads</title>
</head>

<body>
    <div class="container">
        <h3>Printing PDF Files</h3>
        <%= typeof msg != 'undefined' ? msg : '' %>
        <br>

        <%= typeof file != 'undefined' ? file : '' %>
        <br>
        <%= typeof link != 'undefined' ? link : '' %>

        <a href="<%= link %>" target="_blank">Print Link</a>

        <!--         <button id="clickme" type="button" onclick="printJS('uploads/pdffiles/continuous.pdf')">
            Print PDF hard coded
        </button> -->

        <button type="button" onclick="printJS('<%= link %>')">
            Print PDF
        </button>

    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="../../scripts-framework/print.js"></script>

    <script>
        $('#clickme').on('click', function () {

            console.log("clicked")


        });

    </script>
</body>

</html>